.input-z-index:focus{
position: relative;
z-index: 50;
}
@keyframes click-wave {
    0% {
      height: 20px;
      width: 20px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -90px;
      margin-top: -90px;
      opacity: 0;
    }
  }
  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 22px;
    width: 22px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: #40e0d0;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }
.TrayRollResult{
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://icon-library.com/images/hexagon-icon-png/hexagon-icon-png-21.jpg");
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  padding-top: 8px;
  margin-left: 5px;;
}
.TraySumResult{
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  text-align: center;
  background-image: url("https://i.postimg.cc/XYLV2Wv7/image-psd.png");
  color: #FF2400;
  font-weight: bold;
  font-size: 20px;
  padding-top: 8px;
  margin-left: 5px;;
}









/* stat-block */

.stat-block {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 17%;
  min-width:280px;
  background: #FDF1DC;
  padding: 5px 10px 20px;
  box-shadow: 0 0 1.5em #867453;
}
.stat-block.wide{
  width: 100%;
  text-align: center;
}
.stat-block.wide .section-left,
.stat-block.wide .section-right{
  display: inline-block;
  vertical-align: top;
  width: 48%;
  text-align: left;
}
.stat-block.wide .section-left{
  margin-right: 1.5%;
}
.stat-block.wide .section-right{
  margin-left: 1.5%;
}
@media screen and (max-width: 675px){
	.stat-block.wide{
		min-width: 280px;
	}
	.stat-block.wide .section-left,
	.stat-block.wide .section-right{
	  display: block;
	  width: 100%;
	}
	.stat-block.wide .section-left{
	  margin: 0;
	}
	.stat-block.wide .section-right{
		margin: 0;
	}
}
.orange-border{
  display: block;
  background: #E69A28;
  border: 1px solid #000;
  height: 5px;
  padding: 0 10px 0;
  margin: -10px -10px 0;
  box-sizing: initial;
}
.orange-border.bottom{
  margin: 15px -10px -20px;
}
.tapered-rule{
  display: block;
  width: 100%;
  height: 5px;
  border: none;
  color: #922610;
  fill: #922610;
  stroke: #922610;
}
.creature-heading h1{
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  color: #922610;
  font-size: 23px;
  line-height: 1.2em;
  margin: 10px 0 0;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold;
}
.creature-heading h2{
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  line-height: 1.2em;
  margin: 0 0 10px;
}
.property-line h4,
.property-line p{
  display: inline;
  margin: 0;
  color: #922610;
  font-size: 13.5px;
  line-height: 1.2em;
}
.property-line h4{
  font-weight: 700;
  color: #7A200D;
}
.property-line{
  text-indent: -1em;
  padding-left: 1.1em;
  line-height: 1.4em;
}
.property-line.first{
  margin: 8px 0 0
}
.property-line.last{
  margin: 0 0 10px;
}
.abilities{
  text-align: center;
  color: #922610;
}
.abilities > div{
  display: inline-block;
  vertical-align: middle;
  width: 15.5%;
  min-width: 40px; 
  font-size: 12px;
  line-height: 1em;
}
.abilities h4{
  margin: 10px 0 2px;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #7A200D;
}
.abilities p{
  margin: 0 0 10px;
  line-height: 1.2em;
}
.property-block h4,
.property-block p{
  font-size: 13.5px;
  line-height: 1.2em;
  display: inline;
  margin: 0;
}
.property-block h4{
  font-style: italic;
  font-weight: 700;
}
.property-block{
  padding: 10px 2px 0;
}
.actions h3{
  border-bottom: 1px solid #7A200D;
  color: #7A200D;
  font-size: 21px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 20px 0 0;
  padding: 0 0 10px;
  text-indent: 5px;
}
.actions{
  margin: 0 0 20px;
}
.actions:last-child{
  margin: 0;
}

@media print{
	.orange-border{
		display: none;
	}
	.stat-block,
	.stat-block.wide, 
	.stat-block.wide .section-left,
	.stat-block.wide .section-right,
	.property-line,
	.property-block{
		width: 100%;
		display: block;
	}
	.stat-block.wide .section-left{
	  margin: 0;
	}
	.stat-block.wide .section-right{
	  margin: 0;
	}
	.stat-block{
		width: 40%;
		display: inline-block;
		vertical-align: top;
	}
	.stat-block.wide{
		page-break-after: always;
	}
}
@media screen and (max-width: 575px){
	.stat-block{
		margin: 20px 0;
	}
}
